@model MVC_BookRepository_CRUD.Models.Author
@using (Ajax.BeginForm("EditAuthor", "Authors", new { }, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "alert",
    LoadingElementId = "spinner",
    OnSuccess = "onSuccess"
}, new { id = "f" }))
{
    @Html.HiddenFor(x => x.AuthorId)
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.AuthorName, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.AuthorName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Address, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    if (Request.UrlReferrer != null)
    {
        string returnURL = Request.UrlReferrer.ToString();
        ViewBag.ReturnURL = returnURL;
    }

<div class="row">
    <div class="col-12 form-group row mb-1">

        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-primary px-3">Save</button>
            <a href="@ViewBag.ReturnURL" class="btn btn-secondary px-3">Back</a>
        </div>

    </div>
</div>
}


