@model IEnumerable<MVC_BookRepository_CRUD.Models.Author>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 class="col-12 text-center text-info bg-secondary">Authors</h1>
        <div class="d-flex justify-content-end mb-1">
            @Html.ActionLink("Add New", "Create", "Authors", new { }, new { @class = "btn btn-primary btn-sm" })
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-light">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(x => x.AuthorName)</th>
                    <th class="text-center">@Html.DisplayNameFor(x => x.Address )</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => b.AuthorName)</td>
                        <td>@Html.DisplayFor(x => b.Address)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Authors", new { id = b.AuthorId }, new { @class = "btn btn-secondary btn-sm" })
                            <a href="@Url.Action("Delete", "Authors", new {id=b.AuthorId})" class="btn btn-danger btn-sm @(b.AuthorBooks.Count > 0 ? "disabled" :"")">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



