@model IEnumerable<MVC_BookRepository_CRUD.Models.Topic>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h1 class="col-12 text-center text-info bg-secondary">Topics</h1>
        <div class="d-flex justify-content-end mb-1">
            @Html.ActionLink("Add New", "Create", "Topics", new { }, new { @class = "btn btn-primary btn-sm" })
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-light">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(x => x.TopicName)</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => t.TopicName)</td>
                        
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Topics", new { id = t.TopicId }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Delete", "Delete", "Topics", new { id=t.TopicId }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


