<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <style>
        body{
            padding-top:70px;
        }
        .main {
            height: calc(100vh - 140px);
        }
    </style>
    @RenderSection("styles", false)

</head>
<body>
    <nav class="navbar navbar-light- bg-info navbar-expand-md fixed-top shadow-sm ">
        <div class="container-fluid">
            <H1 class="navbar-brand">BookRepository </H1>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav nav ms-auto text-info">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Authors", "Index", "Authors", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Topics", "Index", "Topics", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Publishers", "Index", "Publishers", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Books", "Index", "Books", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("BookAuthors", "Index", "BookAuthors", new { }, new { @class = "nav-link" })
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="navbar-nav nav ms-auto">

                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "nav-link" })
                        </li>


                    </ul>

                }
                else
                {
                    <ul class="navbar-nav nav ms-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "nav-link" })
                        </li>


                    </ul>
                }
            </div>
        </div>
    </nav>
    <section class="container-fluid main bg-light" >
        @RenderBody()
    </section>
    <footer class="container-fluid ">
       
    </footer>
    @RenderSection("scripts", false)
</body>
</html>